layout {
    tab name="main" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="side" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="monitor" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane command="btop"
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
